body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    font-family: Arial, sans-serif;
    color: #ffffff;
    overflow: hidden;
}

.player-wrapper {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

#videoContainer {
    position: relative;
    width: 100%;
}

#videoPlayer {
    width: 100%;
    border-radius: 8px;
}

#subtitleDisplay {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 97.5%;
    text-align: center;
    font-size: 18px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    margin-top: 10px;
}

.popup-controls {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}

.icon-button {
    background-color: #264653;
    color: #ffffff;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.icon-button i {
    margin-right: 5px;
}

.icon-button:hover {
    background-color: #2A9D8F;
}

/* .volume-control {
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
} */

input[type="range"] {
    background-color: #264653;
    border-radius: 5px;
    outline: none;
    width: 100px;
}

#loadingMessage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
}

.loading-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.loading-image {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.loading-dots {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.loading-dot {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 5px;
    animation: pulse 0.8s infinite;
}

.loading-dot:nth-child(2) {
    animation-delay: 0.3s;
}

.loading-dot:nth-child(3) {
    animation-delay: 0.6s;
}

.loading-content span {
    font-size: 24px;
    color: #fff;
}

#dots::after {
    content: '';
    display: inline-block;
    width: 1em;
    text-align: left;
    animation: dots 0.8s steps(3, end) infinite;
}

@keyframes dots {

    0%,
    20% {
        content: "";
    }

    40% {
        content: ".";
    }

    60% {
        content: "..";
    }

    80%,
    100% {
        content: "...";
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#subtitleList {
    max-height: 600px;
    overflow-y: auto;
    width: 100%;
    max-width: 400px;
    margin: 20px;
    background-color: #1d3557;
    padding: 10px;
    border-radius: 10px;
}

.subtitle-list-item {
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
}

.subtitle-list-item:hover,
.subtitle-list-item.active {
    background-color: #2A9D8F;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1e2427;
    padding: 20px;
    border-radius: 8px;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.popup.hidden {
    display: none;
}

#editSubtitleText {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    background-color: #121212;
    border: none;
    color: white;
    font-size: 16px;
}


@media (max-width: 768px) {
    .player-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .main-container {
        width: 100%;
    }

    #subtitleList {
        width: 100%;
        max-width: none;
        margin-top: 15px;
    }

    .controls {
        grid-template-columns: repeat(3, 1fr);
    }

    .popup-controls {
        grid-template-columns: repeat(2, 1fr);
    }
}